* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto";
  color: #fefefe;
}

body {
  background: #100e19;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}
